services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    mem_limit: 512m
    cpus: "0.5"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: unless-stopped
    mem_limit: 256m
    cpus: "0.25"
    expose:
      - "6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  coupon-service-blue:
    image: minkkp/coupon-service:${TAG}
    restart: unless-stopped
    cpus: "1.0"
    mem_limit: 1g
    environment:
      - JAVA_TOOL_OPTIONS=-Xms256m -Xmx384m
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8081:8080"

  coupon-service-green:
    image: minkkp/coupon-service:${TAG}
    restart: unless-stopped
    cpus: "1.0"
    mem_limit: 1g
    environment:
      - JAVA_TOOL_OPTIONS=-Xms256m -Xmx384m
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8082:8080"

  nginx:
    image: nginx:latest
    restart: unless-stopped
    mem_limit: 128m
    cpus: "0.25"
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./upstream.inc:/etc/nginx/conf.d/upstream.inc
    depends_on:
      coupon-service-blue:
        condition: service_started
      coupon-service-green:
        condition: service_started

  prometheus:
    image: prom/prometheus
    restart: unless-stopped
    mem_limit: 256m
    cpus: "0.25"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    restart: unless-stopped
    mem_limit: 256m
    cpus: "0.25"
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana

  redis-exporter:
    image: oliver006/redis_exporter
    restart: unless-stopped
    mem_limit: 128m
    cpus: "0.2"
    environment:
      - REDIS_ADDR=redis:6379
    expose:
      - "9121"
    depends_on:
      redis:
        condition: service_healthy

volumes:
  postgres-data:
  grafana-data: