spring:
  application:
    name: coupon-service

  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: redis
      port: 6379

  lifecycle:
    timeout-per-shutdown-phase: 60s

server:
  port: 8080
  shutdown: graceful

